@font-face {
    font-family: 'Avrile Sans Condensed';
    src: url('../assets/fonts/AvrileSans-Condensed.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Avrile Sans Condensed';
    src: url('../assets/fonts/AvrileSans-CondensedSemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Avrile Sans Condensed';
    src: url('../assets/fonts/AvrileSans-CondensedBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--white);
    font-family: var(--avrile-sans-condensed);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5em;
}

.container {
    max-width: 1280px;
    width: 100%;
    padding: 0 31px;
    margin: 0 auto;

    background-color: var(--black);
}

:root {
    --white: #F7F1E3;
    --black: #1F1D1A;
    --blue: #26265A;
    --dark-blue: #0E0E38;
    --avrile-sans-condensed: 'Avrile Sans Condensed', sans-serif;
    --dela-gothic-one: 'Dela Gothic One', sans-serif;
}

@media screen and (max-width: 895px) {
    .container {
        padding: 0 20px;
    }
}