.header__block {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 15px;
    padding: 30px 0 10px;
}

.burger__block {
    position: absolute;
    top: -100%;
    left: -100%;
}

.burger__menu {
    position: relative;
    width: 60px;
    height: 45px;

    cursor: pointer;
}

.burger__menu span {
    position: absolute;
    left: 0;
    display: block;

    height: 5px;
    width: 100%;

    background: #F7F1E3;
}

.burger__menu span:nth-child(1) {
    top: 0px;
}

.burger__menu span:nth-child(2) {
    top: 18px;
}

.burger__menu span:nth-child(3) {
    top: 36px;
}

.menu__box {
    position: absolute;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;

    gap: 20px;
    margin-top: 10px;
    margin-left: -20px;
    padding: 100px 20px;
    border: 1px solid var(--white);

    font-family: var(--dela-gothic-one);
    white-space: wrap;
    text-transform: uppercase;
    background-color: var(--black);

    z-index: 1;
    transition: all 0.3s;
}

.menu__box_link {
    width: fit-content;
    border-bottom: 1px solid var(--white);
}


.burger__block:hover .menu__box {
    visibility: visible;
    opacity: 1;
}

.header__logo {
    width: 103px;
    height: 82px;
}

.menu {
    display: flex;
    justify-content: space-between;

    gap: 20px;
    max-width: 594px;
    width: 100%;

    font-size: 20px;
    line-height: 1.4em;
}

.menu__link {
    height: 28px;
    border-bottom: 1px solid transparent;

    letter-spacing: 0.04em;
    white-space: nowrap;

    transition: all 0.3s;
}

.menu__link:hover {
    border-bottom: 1px solid var(--white);
}

.header__links {
    display: flex;
    justify-content: space-between;

    gap: 20px;
    max-width: 178px;
    width: 100%;
}

.header__link {
    transition: all 0.3s;
}

.header__link:hover {
    transform: scale(1.1);
}

.top {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    gap: 30px;

}

.title__wrapper {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.title__block {
    display: flex;
    flex-direction: column;

    gap: 30px;
    margin-top: 65px;
}

.title {
    display: flex;
    flex-direction: column;

    gap: 30px;
    max-width: 1029px;
    width: 100%;
    height: 152px;

    font-family: var(--dela-gothic-one);
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;

}

.title__small {
    font-size: 20px;
}

.title__large {
    font-size: 105px;
}

.subtitle {
    height: 0;
    width: 0;

    margin-top: 125px;

    font-weight: 600;
    font-size: 20px;
    line-height: 1.4em;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    white-space: nowrap;

    transform: rotate(90deg);
}

.top__img {
    max-width: 386px;
    width: 100%;
}

.exhibitions {
    display: flex;
    flex-direction: column;

    gap: 50px;
    margin-top: 60px;
}

.exhibitions__title {
    font-family: var(--dela-gothic-one);
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.4em;
    text-transform: uppercase;
}

.exhibitions__carts {
    display: flex;
    flex-wrap: wrap;

    gap: 40px 30px;
}

.exhibitions__cart {
    position: relative;

    display: flex;
    align-items: flex-end;

    max-width: 594px;
    width: 100%;
    height: 595px;

    background-color: var(--white);
    overflow: hidden;
}

.exhibitions__cart:nth-child(1) {
    max-width: 386px;
    width: 100%;
    height: 423px;

    background-image: url('../assets/images/calendar.png');
    background-position: center top;
}

.exhibitions__cart:nth-child(2) {
    max-width: 802px;
    width: 100%;
    height: 423px;

    background-image: url('../assets/images/1.png');
}

.exhibitions__cart:nth-child(3) {
    background-image: url('../assets/images/2.png');
}

.exhibitions__cart:nth-child(4) {
    background-image: url('../assets/images/3.png');
}

.cart__block {
    position: absolute;
    bottom: -100%;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    height: 176px;
    width: 100%;
    gap: 20px;
    padding: 20px 40px 30px;

    background-color: rgba(0, 0, 0, 0.7);

    visibility: hidden;
    transition: all 0.5s;
}

.exhibitions__cart:hover .cart__block {
    bottom: 0;

    visibility: visible;
}

.cart__description {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.cart__name {
    max-width: 316px;
    width: 100%;

    font-family: var(--dela-gothic-one);
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.4em;
}

.cart__date {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    max-width: 211px;
    width: 100%;

    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.cart__link {
    position: relative;
    left: 0;

    padding-left: 30px;

    transition: all 0.3s;
}

.cart__link:hover {
    left: 30px
}

.exhibitions_link {
    align-self: flex-end;

    border-bottom: 1px solid var(--white);

    font-family: var(--dela-gothic-one);
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.4em;
    text-transform: uppercase;
    transition: all 0.3s;
}

.exhibitions_link:hover {
    border-bottom: 1px solid transparent;
}

.joinUs {
    display: flex;
    justify-content: center;

    gap: 30px;
    padding: 180px 0;
}

.joinUs__description_block {
    display: flex;
    flex-direction: column;

    max-width: 386px;
    width: 100%;
    gap: 30px;
}

.joinUs__title {
    font-family: var(--dela-gothic-one);
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.4em;
    text-transform: uppercase;
}

.joinUs__description {
    letter-spacing: 0.04em;
}

.joinUs__input_block {
    display: flex;
    flex-direction: column;

    max-width: 386px;
    width: 100%;
    gap: 30px;
    padding: 40px 30px 60px;
    border: 1px solid rgba(170, 166, 157, 0.2);
    backdrop-filter: blur(30px);

    background-color: var(--white);
}


.joinUs__email {
    border: none;
    border-bottom: 1px solid #1F1D1A;
    padding: 14px 20px 9px;


    font-family: var(--avrile-sans-condensed);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4em;
    letter-spacing: 0.04em;
    color: #101010;
    background: rgba(247, 241, 227, 0.2);

    outline: none;
    transition: all 0.3s;
}

.joinUs__email:focus {
    border-color: var(--white);
}

.joinUs__email::placeholder {
    color: #101010;
}

.joinUs__button {
    border: none;
    padding: 12px;

    font-family: var(--dela-gothic-one);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4em;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--blue);

    cursor: pointer;
    transition: all 0.3s;
}

.joinUs__button:hover {
    background-color: var(--dark-blue);
}

.support {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 802px;
    width: 100%;
    gap: 40px;
    padding: 180px 0;
    margin: 0 auto;
}

.support__title {
    font-family: var(--dela-gothic-one);
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.4em;
    text-transform: uppercase;
}

.support__description {
    letter-spacing: 0.04em;
    text-align: center;
}

.support__button {
    max-width: 386px;
    width: 100%;
    padding: 12px;
    border: none;

    font-family: var(--dela-gothic-one);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4em;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--blue);

    cursor: pointer;
    transition: all 0.3s;
}

.support__button:hover {
    background-color: var(--dark-blue);
}

.footer .container {
    display: flex;
    justify-content: space-between;

    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--white);
}

.footer__logo {
    max-width: 178px;
    width: 100%;
    margin-bottom: 37px;
}

.footer__description {
    max-width: 386px;
    width: 100%;
    margin-bottom: 20px;

    letter-spacing: 0.04em;
    color: #000000;
}

.footer__description span {
    font-weight: 700;
}

.footer__input_block {
    display: flex;
    align-items: center;
}

.footer__input {
    max-width: 317px;
    width: 100%;
    height: 49px;
    padding: 14px 19px 9px;
    border: 1px solid #645845;

    font-family: var(--avrile-sans-condensed);
    font-size: 18px;
    line-height: 1.4em;
    letter-spacing: 0.04em;
    background-color: #D5CFC3;

    outline: none;
    transition: all 0.3s;
}

.footer__input:focus {
    border: 1px solid transparent;
}

.footer__input::placeholder {
    font-family: var(--avrile-sans-condensed);
    font-size: 18px;
    line-height: 1.4em;
    letter-spacing: 0.04em;
    color: #101010;
}

.footer__button_submit {
    max-width: 70px;
    width: 100%;
    height: 49px;
    border: none;

    background-color: var(--blue);
    background-image: url("../assets/images/submit.svg");
    background-repeat: no-repeat;
    background-position: center center;

    cursor: pointer;
    transition: all 0.3s;
}

.footer__button_submit:hover {
    background-color: var(--dark-blue);
}

.footer__menu {
    display: flex;
    flex-direction: column;

    max-width: 178px;
    width: 100%;
    gap: 20px;
    margin: 0 20px;
}

.footer__link {
    width: fit-content;
    border-bottom: 1px solid transparent;

    font-size: 30px;
    line-height: 1.4em;
    letter-spacing: 0.04em;
    color: #000000;

    transition: all 0.3s;
}

.footer__link:hover {
    border-bottom: 1px solid #000000;
}

.footer__contacts {
    display: flex;
    flex-direction: column;

    max-width: 386px;
    width: 100%;
    gap: 35px;
}

.footer__contact {
    display: flex;
    align-items: center;

    gap: 20px;

    letter-spacing: 0.04em;
    color: #000000;

    transition: color 0.3s;
}

.footer__contact:hover {
    color: var(--blue);
}

.footer__contact:hover svg {
    color: var(--blue);

    transition: color 0.3s;
}

@media screen and (max-width: 1300px) {
    .exhibitions__title {
        text-align: center;
    }

    .cart__name {
        font-size: 22px;
    }

    .cart__date {
        font-size: 20px;
    }

    .exhibitions__cart:nth-child(1) {
        max-width: calc((100% / 3) - 20px);
    }

    .exhibitions__cart:nth-child(2) {
        max-width: calc(((100% / 3) * 2) - 20px);
    }

    .exhibitions__cart:nth-child(3) {
        max-width: calc((100% / 2) - 20px)
    }

    .exhibitions__cart:nth-child(4) {
        
        max-width:calc((100% / 2) - 20px)
    }
}

@media screen and (max-width: 1130px) {
    .title__large {
        font-size: 80px;
    }

    .exhibitions__cart:nth-child(1) {
       max-width: 50%;
       margin: 0 auto;
       order: 2;
    }

    .exhibitions__cart:nth-child(2) {
        max-width: calc((100% - 20px));
        margin: 0 auto;

        background-size: 100%;
    }

    .cart__description {
        flex-direction: column;

        gap: 20px;
    }


    .cart__name {
        max-width: fit-content;

        text-align: center;
    }

    .cart__date{
        flex-direction: row;
        max-width: fit-content;
        
    }

    .footer .container {
        flex-wrap: wrap;

        gap: 30px;
    }

    .footer__menu {
        margin: 0;
    }
}

@media screen and (max-width: 895px) {
    .burger__block {
        position: relative;
        top: 0;
        left: 0;
    }

    .menu {
        position: absolute;
        top: -100%;
        left: -100%;
    }

    .title__large {
        font-size: 62px;
    }

    .exhibitions__carts {
        flex-direction: column;
    }

    .exhibitions__cart:nth-child(1) {
        max-width: 50%;

        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: inherit;
    }

    .exhibitions__cart:nth-child(2) {
        max-width: 100%;
    }

    .exhibitions__cart:nth-child(3), .exhibitions__cart:nth-child(4)  {
        max-width: 100%;

        background-size: 100%;
        background-repeat: no-repeat;
    }

    .joinUs__title {
        font-size: 36px;
    }

    .joinUs__description {
        font-size: 20px;
    }

    .support {
        padding: 90px 0;

        text-align: center;
    }

    .support__title {
        font-size: 36px;
    }

    .support__description {
        font-size: 20px;
    }
}

@media screen and (max-width: 695px) {
    .title__large {
        font-size: 42px;
    }

    .exhibitions__cart:nth-child(1) {
        max-width: 70%;
        order: -1;
    }

    .exhibitions__cart:nth-child(2) {
        position: absolute;
        top: -100%;
        left: -100%;
    }

    .exhibitions__cart:nth-child(3), .exhibitions__cart:nth-child(4){
        height: 423px;
    }


    .joinUs {
        flex-direction: column;
        align-items: center;

        padding: 90px 0;
    }

    .joinUs__description_block {
        text-align: center;
    }
 
    .support {
        padding: 90px 0;
    }

    .footer .container {
        justify-content: center;
    }
}

@media screen and (max-width: 500px) {
    .header__block {
        padding: 10px 0;
    }

    .burger__menu {
        top: 10px;

        width: 24px;
    }

    .burger__menu span {
        height: 3px;
    }

    .burger__menu span:nth-child(1) {
        top: 0px;
    }

    .burger__menu span:nth-child(2) {
        top: 9px;
    }

    .burger__menu span:nth-child(3) {
        top: 18px;
    }

    .menu__box {
        top: 47px;
    }

    .header__logo {
        width: 64px;
        height: 50px;
    }

    .title__large {
        font-size: 28px;
    }

    .exhibitions__title {
        font-size: 32px;
    }

    .exhibitions__cart:nth-child(1) {
        max-width: 100%;
        order: -1;
    }

    .exhibitions__cart:nth-child(3), .exhibitions__cart:nth-child(4) {
        height: 300px;
    }


    .cart__name {
        text-align: center;
        font-size: 18px;
    }

    .cart__date {
        font-size: 16px;
    }

    .cart__link:hover {
        left: 0;
    }

    .exhibitions_link {
        font-size: 26px;
    }
}

@media screen and (max-width: 410px) {
    .exhibitions__cart {
        height: 390px;
    }

    .exhibitions__cart:nth-child(1) {
        position: absolute;
        top: -100%;
        left: -100%;
    }

    .cart__name {
        font-size: 16px;
    }

    .cart__date {
        font-size: 14px;
    }

    .footer .container {
        position: relative;
        justify-content: flex-start;
    }

    .footer__logo {
        position: absolute;
        top: 40px;
        left: 20px;

        width: 80px;
        height: 66px;
    }

    .footer__menu {
        flex-wrap: wrap;
        align-self: flex-start;

        height: 180px;
        gap: 12px;
        margin: 0;
        margin-top: 100px;

        font-size: 22px;

        order: -1;
    }

    .footer__contacts {
        gap: 18px;

        font-size: 22px;
    }
}